extends default

block content
  ul#messages
    form(action="" id="form")
      input(type="text" autocomplete="off") 
      button 
        | Send 
  script(src='https://cdn.socket.io/4.5.4/socket.io.min.js')
  script.
    var socket = io();
